# GraphQL API URL
EXPO_PUBLIC_GRAPHQL_API_URL=https://your-graphql-endpoint.com/graphql

# Enable/Disable API request/response logging (set to "true" to enable)
EXPO_PUBLIC_LOG_API=false

# Environment ('local' | 'prod')
EXPO_PUBLIC_APP_ENV=local

# Tron Node / Host URL
EXPO_PUBLIC_TRON_FULL_HOST=https://api.shasta.trongrid.io/

# USDT TRC20 Contract Address
EXPO_PUBLIC_USDT_TRC20_ADDRESS=TG3XXyExBkPp9nzdajDZsozEu4BkaSJozs
